body {
	font-family: Helvetica, sans-serif;
	font-weight: 200;
	background: #111;
}
.helvetica {
	font-family: helvetica, sans-serif;
}
.arial {
	font-family: Arial Black, Arial, sans-serif;
}
.fw-700 {
	font-weight: 700;
}