#intro #quote {
	position: absolute;
	top: 50%;
	left: 3rem;
	transform: translate(0, -50%);

	font-size: 28px;
	font-weight: 500;
}
#intro #quote > * {
	position: relative;
	display: inline-block;
}
#intro #quote > *:before {
	content: '';
	position: absolute;
	top: 0;
}
#intro #quote > .line-1:before {
	content: '“';
	right: 101%;
}
#intro #quote > .line-2:before {
	content: '”';
	left: 101%;
}

@media screen and (min-width: 440px){
	#intro #quote {
		font-size: 32px;
	}
}
@media screen and (min-width: 480px){
	#intro #quote {
		font-size: 36px;
	}
}
@media screen and (min-width: 520px){
	#intro #quote {
		font-size: 40px;
	}
}
@media screen and (min-width: 570px){
	#intro #quote {
		font-size: 44px;
	}
}
@media screen and (min-width: 620px){
	#intro #quote {
		font-size: 48px;
	}
}
@media screen and (min-width: 660px){
	#intro #quote {
		font-size: 52px;
	}
}
@media screen and (min-width: 710px){
	#intro #quote {
		font-size: 56px;
	}
}
@media screen and (min-width: 750px){
	#intro #quote {
		font-size: 60px;
	}
}
@media screen and (min-width: 860px){
	#intro #quote {
		left: 5rem;
	}
}
@media screen and (min-width: 920px){
	#intro #quote {
		left: 7rem;
	}
}
@media screen and (min-width: 1000px){
	#intro #quote {
		left: 10rem;
	}
}