#professional {
	z-index: 20;
	height: 500%;
	color: #fff;
	position: relative;
}
#professional .fullscreen {
	height: 20%;
	/* opacity: 0; */
}
#tipsy-vp {
	/* background: #111; */
}
#tipsy-contract {
	/* background: #242335; */
}
#fbe-superfam {
	/* background: #1A78BC; */
}
#oscarakermo {
	/* background: #202020; */
}
#tipsy-exclusive {
	/* background: #111111; */
}

#professional .content {
	width: 100%;
	padding: 0 2rem;
}
#professional .left {
	display: flex;
	justify-content: center;
}
#professional .left img {
	width: 256px;
	height: 256px;
}
#professional .right {
	font-size: 24px;
}
#professional .right .date {
	color: #ffffff99;
}
#professional .right .title {
	font-size: 48px;
	font-weight: 700;
}
#professional .right .description {
	line-height: 1.5;
}
#professional .right .role {
	font-weight: 700;
	margin-top: 3rem;
	letter-spacing: 0.05em;
}
#professional .right .social-icons {
	margin-top: 1rem;
}
#professional .icon {
	height: 32px;
}

#professional .details div {
	margin-top: 1rem;
	background: #fff;
	color: #111;
	padding: 0.5rem 2rem;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 0.05em;
	cursor: pointer;
}

@media screen and (min-width: 600px){
	#professional .content {
		display: flex;
		max-width: 900px;
	}
	#professional .left {
		flex-direction: column;
	}
	#professional .right {
		padding-left: 1rem;
	}

	#professional .right {
		font-size: 16px;
	}
	#professional .right .title {
		font-size: 32px;
	}
}

@media screen and (min-width: 800px){
	#professional .content {
		max-width: 1028px;
	}
	#professional .left img {
		width: 384px;
		height: 384px;
	}

	#professional .right {
		font-size: 20px;
	}
	#professional .right .title {
		font-size: 40px;
	}
}

@media screen and (min-width: 1000px){
	#professional .right {
		font-size: 24px;
	}
	#professional .right .title {
		font-size: 48px;
	}
}